@import "../mixin/_Mixins.scss";
.offcn_headtitle{
	@include size(30px,60px,#333); text-align:center;
	b{color:#ff0000;}
	height:100%;
	border-bottom:1px solid #eaeaea;
	background:#fff;
	box-shadow:0 3px 10px #dce3e6;
}
.offcn_tabchange{
	&>div{display:none;}
	&>div:nth-child(2){display:block;}
	background:#fff;
	padding:20px 40px;
}
.offcn_headtab{
	background:#fff;position:relative;left:-20px;width:calc(100% + 20px);padding-left:20px;height:55px;
    top:-19px;
  
    .el-tabs__nav{height:55px!important;}
    .el-tabs__header{margin:0; height:100%;}
    .el-tabs__nav-wrap::after{background-color:#fff!important;}
    .el-tabs__item{height:55px;line-height:55px;}
    .el-tabs__item.is-active{font-weight:bold;}
}