@import "../mixin/_Mixins.scss";
.offcn_headtitle{
	@include size(30px,60px,#333); text-align:center;
	b{color:#ff0000;}
	height:100%;
	border-bottom:1px solid #eaeaea;
	background:#fff;
	box-shadow:0 3px 10px #dce3e6;
}
.offcn_tabchange{
	&>div{display:none;}
	&>div:nth-child(1){display:block;}
	background:#fff;
	padding:20px;
}
